.header {
  max-width: 1030px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  padding: 10px;
}

.h1 {
  font-weight: 900;
}

.h2 {
  font-weight: 400;
}

@media (max-width: 500px) {
  .h1 {
    font-size: 28px;
  }

  .h2 {
    font-size: 18px;
  }
}
